/* File name: app.css */
/* Author's name: Jesse Cannon */
/* Student ID: 200348532 */
/* Web site name: http://assignment4-javascript-banner-ad.azurewebsites.net/index.html */
/* File description: CSS page for my mini portfolio JavaScript Banner Ad */

/* change header colour to grey */
header {
    background-color: grey;
}
/* change background colour to light grey */
body {
    padding-bottom: 70px;
    color: black;
    background-color: lightgrey;
     }
/* change all fonts to "Garamond" */
main {
    font-family: "Garamond", sans-serif; 
    color: black;
}
/* changed footer colour to grey */
footer {
    background-color: grey;
}
#MainContent {
  display: flex;
  width: 100%;
}
/* made canvas background white with a 1px solid black border */
#canvas {
  background-color: white;
  margin: 0 auto;
  border: 1px Solid black;
}